/*

.header {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5em 0 1.5em;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
    padding: 25px;
    background-image: linear-gradient(to right, whitesmoke, white);
}

.input {
    padding: 8px 8px;
    border: 1px solid #f4f5fa;
    box-shadow: 2px 4px 2px 4px #f4f5fa;
    border-radius: 25px;
    position: relative;
    outline-width: 0;
    border: 2px solid gainsboro;
    width: 100%;
}

.input > i {
    right: 30px;
    position: relative;
}

*/