.sidenav {
    width: 17%;
    font-size: 15px;
    box-shadow: 2px 0px 1px 1px #f4f5fa;
    margin: 5px;
}

.sidenav_logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidenav_logo > img {
    width: 60%;
    height: 10%;
    margin: 10px 0;
}

.sidenav a {
    text-decoration: none;
    color: #808080;
    padding: 10px;
}

.sidenav_link li {
    padding: 10px;
}

.sidenav hr {
    margin: 1.5em 0;
    border: 1px solid #f4f5fa;
}

